.playerContainer {
    width: 60%;
    margin: auto;
    text-align: center;
}
.playerContainer p{
    display: inline-block;
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fas{
    margin: 9rem;
    align-items: center;
    margin-top: 5rem;
}
.Fass{
    text-align: center;
}